# Dependências
/node_modules/
node_modules/
./node_modules/
# Default ignored files
/shelf/
/workspace.xml
#env
.env
.env.local
.env.development
.env.staging
.env.production
.env.test
*.env
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
